<?xml version ="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
id = "com.html5rockt.ToDoListe"
versionCode = "10"
version = "1.0.2" >
  
  <platform name="android">
              <icon src="icons/ic_launcher.png" density="xxxhdpi" />
  </platform>

<name>ToDoListe</name>
<description>Eine ToDoListe, mit der man Aufgaben verwalten kann.</description>
<author email="martinstockffm@gmail.com">Martin Stock</author>
<plugin name="cordova-plugin-device" spec="2.0.2" />
</widget>
